# =========================
# Windows image file caches
# =========================
Thumbs.db
ehthumbs.db

# =========================
# Folder config file
# =========================
Desktop.ini

# =========================
# Recycle Bin used on file shares
# =========================
$RECYCLE.BIN/

# =========================
# Windows Installer files
# =========================
*.cab
*.msi
*.msm
*.msp

# =========================
# Windows shortcuts
# =========================
*.lnk

# =========================
# C/C++/SourceSafe files
# =========================
.bsc
.ncb
.pch
.pdb
.rdp
.sbr
.scc
.suo
.tmp
.vspscc
.vssscc
.dat
.elf
.hex
.o.d
.o
UsrClass.dat
